th, td {
    border-bottom: 1px solid #CBCBCB;
    padding: 2px;
    text-align: center;
}

td {
    -webkit-transition-duration: 0.5s;
}

td:hover {
    background-color: #CCCCCC;
    -webkit-transition-duration: 0.5s;
}

table {
    margin-top: 10%;
    margin-bottom: 2%;
}